.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.table__caption {
  position: relative;
  padding: 15px 0 20px 25px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: left;
}

.table__cell {
  padding: 15px;
}

.table__head-cell {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

.table__row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.table__reset {
  position: absolute;
  top: 50%;
  right: 25px;
  border: none;
  padding: 0;
  background-color: inherit;
  appearance: none;
  font-size: 16px;
  line-height: 19px;
  color: #888888;
  align-items: baseline;
  transform: translateY(-50%);
  cursor: pointer;
  fill: #888888;
}

.table__reset span {
  vertical-align: top;
}

.table__reset--active {
  color: #0075FF;
  fill: #0075FF;
}
.table__color {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  display: inline-block;
  vertical-align: top;
}

.table__head-cell input {
  vertical-align: top;
  margin-right: 4px;
}

.table__head-cell--hide {
  display: none;
}

.table__head-cell:first-child,
.table__head-cell:nth-child(3n) {
  width: 10%;
}
